.Feed {
  flex: 1;
  padding: 30px, 150px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 70em;
  margin-right: 5em;
  margin-left: 5em;
  margin-top: 1em;
}
