.Login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: white;
}

.Login > button {
  width: 300px;
  background-color: #1877f2;
  color: #eff2f5;
  font-weight: 800;
}

.Login > button:hover {
  background-color: white;
  color: #1877f2;
}

.Login > div > img {
  object-fit: contain;
  height: 150px;
}
.Login > div {
  display: flex;
  flex-direction: column;
}
